
module vectorworker 1.0;

require {
	type fusefs_t;
	type bpf_t;
	type debugfs_t;
	type pstore_t;
	type devpts_t;
	type sysfs_t;
	type tracefs_t;
	type binfmt_misc_fs_t;
	type cgroup_t;
	type hugetlbfs_t;
	type configfs_t;
	type vector_t;
	type nfs_t;
	type device_t;
	class filesystem getattr;
	class dir search;
}

#============= vector_t ==============

#!!!! This avc is allowed in the current policy
allow vector_t binfmt_misc_fs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t bpf_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t cgroup_t:dir search;
allow vector_t cgroup_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t configfs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t debugfs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t device_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t devpts_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t fusefs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t hugetlbfs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t nfs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t pstore_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t sysfs_t:filesystem getattr;

#!!!! This avc is allowed in the current policy
allow vector_t tracefs_t:filesystem getattr;
